<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yummy! 管理页面</title>
    <script th:src="@{/js/tool/jquery.js}"></script>
</head>
<body>
<a th:href="@{/management/logout}">登出</a>
<p style="color: red">退出系统时请务必登出</p>

<!--黑线-->
<div style="height: 2px;width: 100%;background: black"></div>
<div>
    <h3>添加管理员</h3>
    <table>
        <tr>
            <th>账号:</th>
            <th><input id="manager-register-id"></th>
        </tr>
        <tr>
            <th>密码:</th>
            <th><input id="manager-register-password" type="password"></th>
        </tr>
        <tr>
            <th>再次输入:</th>
            <th><input id="manager-register-password2" type="password"></th>
        </tr>
    </table>
    <button id="manager-register-button">提交</button>
    <p id="manager-register-info" style="color: red"></p>
</div>

<!--黑线-->
<div style="height: 2px;width: 100%;background: black"></div>

<div>
    <h3>审批餐厅</h3>
    <table border="2" cellpadding="5">
        <tr>
            <th>餐厅编号</th>
            <th>餐厅名称</th>
            <th>申请时间</th>
            <th>营业时间</th>
            <th>餐厅类型</th>
            <th>备注说明</th>
            <th>城市</th>
            <th>具体地点</th>
            <th>地点备注</th>
            <th>操作</th>
        </tr>
        <!--/*@thymesVar id="unactivatedRestaurant" type="java.util.List"*/-->
        <tr th:each="restaurant:${unactivatedRestaurant}">
            <!--/*@thymesVar id="restaurant" type="com.kodomo.yummy.entity.Restaurant"*/-->
            <td th:text="${restaurant.getRestaurantId()}"></td>
            <td th:text="${restaurant.getName()}"></td>
            <td th:text="${restaurant.getRegisterTime()}"></td>
            <td th:text="${restaurant.getBusinessHours()}"></td>
            <td th:text="${restaurant.getTypeByString()}"></td>
            <td th:text="${restaurant.getNote()}"></td>
            <td th:text="${restaurant.getCity()}"></td>
            <td th:text="${restaurant.getBlockInfo()+restaurant.getPointInfo()}"></td>
            <td th:text="${restaurant.getLocationNote()}"></td>
            <td th:id="'td-'+${restaurant.getRestaurantId()}">
                <button class="restaurant-pass-button" th:id="'pass-button-'+${restaurant.getRestaurantId()}">通过
                </button>
                <button class="restaurant-no-pass-button" th:id="'no-pass-button-'+${restaurant.getRestaurantId()}">
                    不通过
                </button>
            </td>
        </tr>
    </table>
</div>

<!--黑线-->
<div style="height: 2px;width: 100%;background: black"></div>

<div>
    <h3>制定订单结算策略</h3>
    <div style="color: red">注: 对于阈值一栏, 如果类型为城市, 则表示在该城市执行</div>
    <!--/*@thymesVar id="currentOrderSettlementStrategy" type="com.kodomo.yummy.entity.OrderSettlementStrategy"*/-->
    <div th:unless="${currentOrderSettlementStrategy}!=null" style="color: red">
        无法找到当前策略, 请新建策略
    </div>
    <table id="strategy-table" border="2 solid" cellpadding="5">
        <tr>
            <th>类型</th>
            <th>阈值</th>
            <th>折算率</th>
            <th>操作
                <button id="strategy-add-button">添加</button>
            </th>
        </tr>

        <th:block th:if="${currentOrderSettlementStrategy}!=null">
            <tr th:each="strategy:${currentOrderSettlementStrategy.getDetails()}" class="strategy-tr">
                <td><select>
                    <option th:selected="${strategy.getType().ordinal()==0}" value="0">城市</option>
                    <option th:selected="${strategy.getType().ordinal()==1}" value="1">订单数量</option>
                </select></td>
                <td><input th:value="${strategy.getKey()}" class="strategy-key-input"></td>
                <td><input th:value="${strategy.getRate()}" class="strategy-rate-input"></td>
                <td>
                    <button class="strategy-remove-button">删除</button>
                </td>
            </tr>
        </th:block>
    </table>
    <button id="strategy-save-button">保存</button>
    <div id="strategy-info-div" style="color: red"></div>
</div>

<!--黑线-->
<div style="height: 2px;width: 100%;background: black"></div>

<div>
    <h3>制定订单退款策略</h3>
    <!--/*@thymesVar id="currentOrderRefundStrategy" type="com.kodomo.yummy.entity.OrderRefundStrategy"*/-->
    <div th:unless="${currentOrderRefundStrategy}!=null" style="color: red">
        无法找到当前策略, 请新建策略
    </div>

    <div style="color: red">注: 单位为分钟</div>
    <table id="refund-strategy-table" border="2 solid" cellpadding="5">
        <tr>
            <th>大于等于时间</th>
            <th>小于时间</th>
            <th>退款比例</th>
            <th>操作
                <button id="refund-strategy-add-button">添加</button>
            </th>
        </tr>

        <th:block th:if="${currentOrderRefundStrategy}!=null">
            <tr th:each="strategy:${currentOrderRefundStrategy.getDetails()}" class="refund-strategy-tr">
                <td><input th:value="${strategy.getMoreThanOrEquals()}" class="refund-strategy-more-input"></td>
                <td><input th:value="${strategy.getLessThan()}" class="refund-strategy-less-input"></td>
                <td><input th:value="${strategy.getRefundRate()}" class="refund-strategy-rate-input"></td>
                <td>
                    <button class="refund-strategy-remove-button">删除</button>
                </td>
            </tr>
        </th:block>
    </table>
    <button id="refund-strategy-save-button">保存</button>
    <div id="refund-strategy-info-div" style="color: red"></div>
</div>

<script th:src="@{/js/managementInfo.js}"></script>
</body>
</html>