<div xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="order" type="com.kodomo.yummy.entity.Order"*/-->
    <div th:text="${order.getTheLastUpdateTime()}"></div>
    <div th:text="${order.getOrderStateText()}"></div>
    <h4 th:text="${order.getRestaurant().getName()}"></h4>
    <p th:text="${order.getTotalPriceAfterDiscount()}+'元'" style="float: right"></p>
    <ul th:with="first=${order.getDetailsByPrice().get(0)}">
        <li th:each="detail:${order.getDetailsByPrice()}"
            th:text="${detail.getOffering().getName()}+'×'+${detail.getQuantity()}"></li>
    </ul>
    <a th:href="@{/order/}+${order.getOrderId()}">查看详情</a>
</div>