<div xmlns:th="http://www.thymeleaf.org">
    <h3>订单信息</h3>
    <!--/*@thymesVar id="order" type="com.kodomo.yummy.entity.order.Order"*/-->
    <table class="table table-striped">
        <tr>
            <th>订单编号</th>
            <td th:text="${order.getOrderId()}"></td>
        </tr>
        <tr>
            <th>订单状态</th>
            <td th:text="${order.getOrderStateText()}"></td>
        </tr>
        <tr>
            <th>订餐人</th>
            <td>
                <ul th:with="customer0=${order.getCustomer()}">
                    <li th:text="${customer0.getEmail()}"></li>
                    <li th:text="${customer0.getName()}"></li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>商家</th>
            <td><a th:href="@{/restaurant/index/}+${order.getRestaurant().getRestaurantId()}"
                   th:text="${order.getRestaurant().getName()}"></a></td>
        </tr>
        <tr th:with="location=${order.getLocation()}">
            <th>收餐地址</th>
            <td>
                <ul>
                    <li th:text="${location.getCity()}"></li>
                    <li th:text="${location.getBlockInfo()}+' '+${location.getPointInfo()}"></li>
                    <li th:if="${location.getNote()!=null&&!location.getNote().equals('')}"
                        th:text="${location.getNote()}"></li>
                    <li th:text="'电话:'+${location.getTelephone()}"></li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>商品明细</th>
            <td>
                <div class="row clearfix" th:each="detail:${order.getDetails()}">
                    <div class="col-md-3 column" th:text="${detail.getOffering().getName()}">
                    </div>
                    <div class="col-md-2 column" th:text="'×'+${detail.getQuantity()}">
                    </div>
                    <div class="col-md-3 column" th:text="${detail.getTotalPrice()}+'元'">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th>满减策略</th>
            <td th:text="${order.getRestaurantStrategyText()}"></td>
        </tr>
        <tr>
            <th>最终金额</th>
            <td th:text="${#numbers.formatDecimal(order.getTotalPriceAfterDiscount(),0,2)}"></td>
        </tr>
        <tr>
            <th>配餐时长</th>
            <td th:text="${order.getOngoingTime()}+'分钟'"></td>
        </tr>
        <th:block th:if="${order.isCanceled()}">
            <tr>
                <th>退款金额</th>
                <td th:text="${#numbers.formatDecimal(order.getRefundAmount(),0,2)}"></td>
            </tr>
        </th:block>
        <!--/*@thymesVar id="restaurant" type="com.kodomo.yummy.entity.restaurant.Restaurant"*/-->
        <th:block th:if="${restaurant!=null&&order.isDone()}">
            <tr>
                <th>订单结算条例</th>
                <td>
                    <ul>
                        <li th:each="detail:${order.getAppliedOrderSettlementStrategyDetails()}"
                            th:text="${detail.getText()}"></li>
                        <li th:text="'最终结算率:'+${order.getOrderSettlementFinalRate()}"></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>实收款</th>
                <td th:text="${order.getFinalMoneyToRestaurant()}"></td>
            </tr>
        </th:block>
    </table>
    <h3>订单记录追踪</h3>
    <table class="table table-striped">
        <tr th:each="log:${order.getLogsByTimeDesc()}">
            <td th:text="${#dates.format(log.getDate(),'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${log.getToState().getText()}"></td>
        </tr>
    </table>
</div>