<!--/*@thymesVar id="self0" type="com.kodomo.yummy.entity.restaurant.Restaurant"*/-->
<div xmlns:th="http://www.thymeleaf.org" th:if="${restaurant}!=null" th:with="self0=${restaurant}">
    <div class="column">
        <!--/*@thymesVar id="self0" type="com.kodomo.yummy.entity.restaurant.Restaurant"*/-->
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header red-block">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="#"
                   th:text="'Yummy! '+${self0.getName()==null?'':self0.getName()}"
                   style="color: white">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a>
                            <span class="glyphicon glyphicon-euro"></span>
                            <span th:text="'营业额:'+${#numbers.formatDecimal(self0.getBalance(),0,2)}"></span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="glyphicon glyphicon-user"></span>
                            <span th:text="'唯一标识码:'+${self0.getRestaurantId()}"></span>
                        </a>
                    </li>
                    <!--/*@thymesVar id="UserState" type="com.kodomo.yummy.entity.entity_enum.UserState"*/-->
                    <th:block th:if="${self0.getState()}==UserState.UNACTIVATED">
                        <li class="red-text">
                            <a class="red-text">还未激活, 请先激活才能进行其他操作</a>
                        </li>
                    </th:block>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a th:href="@{/restaurant}">我的店铺</a>
                    </li>
                    <li>
                        <a th:href="@{/restaurant/manage}">管理店铺</a>
                    </li>
                    <li>
                        <a th:href="@{/restaurant/info}">修改信息</a>
                    </li>
                    <li>
                        <a th:href="@{/restaurant/order}">我的订单</a>
                    </li>
                    <li>
                        <a th:href="@{/restaurant/statistics}">统计</a>
                    </li>
                    <li>
                        <a th:href="@{/restaurant/message}">我的消息
                            <span class="label label-default" th:if="${self0.getUnreadMessageQuantity()!=0}"
                                  th:text="${self0.getUnreadMessageQuantity()}"></span></a>
                    </li>
                    <li>
                        <a th:href="@{/restaurant/logout}">
                            <span class="glyphicon glyphicon-log-out"></span>
                            登出
                        </a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
</div>