<!--/*@thymesVar id="self0" type="java.lang.Integer"*/-->
<div xmlns:th="http://www.thymeleaf.org" th:with="self0=${session.restaurant}">
    你好:
    <!--/*@thymesVar id="restaurant" type="com.kodomo.yummy.entity.Restaurant"*/-->
    <th:block th:text="${self0}"/>
    <a th:href="@{/restaurant/logout}">登出</a>
    <a th:href="@{/restaurant}">我的店铺</a>
    <a th:href="@{/restaurant/manage}">管理店铺</a>
    <a th:href="@{/restaurant/order}">我的订单</a>

    <!--黑线-->
    <div style="height: 2px;width: 100%;background: black"></div>
</div>