<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yummy! 管理店铺</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/general.css}" rel="stylesheet">
</head>
<body data-spy="scroll" data-target="#myScrollspy">
<!--/*@thymesVar id="restaurant" type="com.kodomo.yummy.entity.restaurant.Restaurant"*/-->
<th:block th:if="${restaurant}==null">
    出错了
</th:block>
<th:block th:if="${restaurant}!=null">
    <th:block th:replace="restaurant/head"/>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="tabbable" id="tabs-873502">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#type-management-div" data-toggle="tab">分类管理</a>
                        </li>
                        <li>
                            <a href="#offering-management-div" data-toggle="tab">商品管理</a>
                        </li>
                        <li>
                            <a href="#strategy-management-div" data-toggle="tab">满减策略管理</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active fade in" id="type-management-div">
                            <div>
                                <h2>分类管理</h2>
                                <br>
                                <table id="type-table" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>分类名称</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tr th:each="type:${restaurant.getOfferingTypeByOrder()}" class="type-tr"
                                        th:value="${type.getOfferingTypeId()}">
                                        <td>
                                            <input class="type-name-input form-control" th:value="${type.getName()}">
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="type-up-button btn red-block">
                                                    <span class="glyphicon glyphicon-upload"></span>
                                                </button>
                                                <button class="type-down-button btn red-block">
                                                    <span class="glyphicon glyphicon-download"></span>
                                                </button>
                                                <button class="type-delete-button btn red-block">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <button id="type-add-button" class="btn red-block">添加</button>
                                <button id="type-save-button" class="btn red-block">保存</button>
                                <span id="type-info" class="red-text"></span>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="offering-management-div">
                            <div>
                                <h2>商品管理</h2>
                                <div id="offering-info" class="red-text"></div>

                                <div class="row">
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-1" id="myScrollspy">
                                        <div class="btn-group-vertical" data-spy="affix"
                                             data-offset-top="125"
                                             data-toggle="buttons">
                                            <label class="btn red-block offering-type-radio" style="width: 100%"
                                                   th:each="type:${restaurant.getOfferingTypeByOrder()}"
                                                   th:value="${type.getOfferingTypeId()}">
                                                <input type="radio"
                                                       name="type"

                                                       th:text="${type.getName()}"
                                                       style="width: 100%">
                                            </label>
                                            <label class="btn red-block" style="width: 100%"
                                                   id="offering-non-type-radio">
                                                <input type="radio" name="type"
                                                       th:text="'无类别商品'">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-9">
                                        <button id="offering-add-button" class="btn red-block col-md-3">添加菜品
                                        </button>
                                        <div class="col-md-12 column offering-div red-border well"
                                             th:each="offering:${restaurant.getOnSaleOffering()}"
                                             style="display: none;"
                                             th:id="${offering.isNonTyped()?'non':offering.getOfferingId()+'-'+offering.getOfferingTypeJoinBy('-')}"
                                             th:value="${offering.getOfferingId()}">

                                            <div class="col-md-8 column">
                                                <div class="row clearfix">
                                                    <div class="col-md-12 column">
                                                        <div class="form-horizontal" role="form">
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">名称</label>
                                                                <div class="col-sm-10">
                                                                    <input class="form-control offering-name-input"
                                                                           th:value="${offering.getName()}">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputPassword3"
                                                                       class="col-sm-2 control-label">价格</label>
                                                                <div class="col-sm-10">
                                                                    <div class="input-group">
                                                                        <input class="form-control offering-price-input"
                                                                               id="inputPassword3"
                                                                               th:value="${#numbers.formatDecimal(offering.getPrice(),0,2)}">
                                                                        <span class="input-group-addon">元</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">备注</label>
                                                                <div class="col-sm-10">
                                                                    <input class="form-control offering-note-input"
                                                                           placeholder="客户可以看到你的备注"
                                                                           th:value="${offering.getNote()}">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">库存数量</label>
                                                                <div class="col-sm-10">
                                                                    <input class="form-control offering-remaining-input"
                                                                           th:value="${offering.getRemainingNumber()}">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">起售日期</label>
                                                                <div class="col-sm-4">
                                                                    <input class="form-control offering-start-time-input"
                                                                           th:value="${#dates.format(offering.getStartTime(),'yyyy-MM-dd')}"
                                                                           th:disabled="${offering.getStartTime().before(#dates.createNow())}"
                                                                           type="date">
                                                                </div>
                                                                <label class="col-sm-2 control-label">结束日期</label>
                                                                <div class="col-sm-4">
                                                                    <input class="form-control offering-end-time-input"
                                                                           th:value="${#dates.format(offering.getEndTime(),'yyyy-MM-dd')}"
                                                                           type="date">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button class="offering-save-button btn red-block">保存</button>
                                                        <button class="offering-delete-button btn red-block">删除商品
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 column">
                                                <p>商品分类选择</p>
                                                <div>
                                                    <div class="checkbox"
                                                         th:each="theType:${restaurant.getOfferingTypeByOrder()}">
                                                        <label><input type="checkbox" class="offering-type-checkbox"
                                                                      th:value="${theType.getOfferingTypeId()}"
                                                                      th:text="${theType.getName()}"
                                                                      th:checked="${theType.contains(offering)}"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="strategy-management-div">
                            <div>
                                <h2>满减策略管理</h2>
                                <div>
                                    <table class="table table-hover" id="strategy-table">
                                        <tr>
                                            <th>满</th>
                                            <th>减</th>
                                            <th>操作</th>
                                        </tr>
                                        <tr th:each="strategy:${restaurant.getRestaurantValidStrategyByAmount()}"
                                            class="strategy-tr"
                                            th:value="${strategy.getStrategyId()}">
                                            <td th:text="${strategy.getGreaterThan()}" class="strategy-m-td"></td>
                                            <td th:text="${strategy.getDiscount()}" class="strategy-n-td"></td>
                                            <td>
                                                <button class="strategy-delete-button btn red-block">删除</button>
                                            </td>
                                        </tr>
                                    </table>
                                    <button id="strategy-add-button" class="btn red-block">添加</button>
                                    <button id="strategy-save-button" class="btn red-block">保存</button>
                                    <span id="strategy-info" style="color: red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--新生成的类型-->
    <table style="display: none">
        <tr class="type-tr" id="create-new-type-tr">
            <td>
                <input class="type-name-input form-control">
            </td>
            <td>
                <div class="btn-group">
                    <button class="type-up-button btn red-block">
                        <span class="glyphicon glyphicon-upload"></span>
                    </button>
                    <button class="type-down-button btn red-block">
                        <span class="glyphicon glyphicon-download"></span>
                    </button>
                    <button class="type-delete-button btn red-block">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </td>
        </tr>

        <tr class="strategy-tr" id="create-new-strategy-tr">
            <td class="strategy-m-td">
                <input class="strategy-m-input form-control">
            </td>
            <td class="strategy-n-td">
                <input class="strategy-n-input form-control">
            </td>
            <td>
                <button class="strategy-delete-button btn red-block">删除</button>
            </td>
        </tr>
    </table>

    <!--新生成的菜品-->
    <div class="col-md-12 column offering-div red-border well" id="create-new-offering-div"
         style="display: none">
        <div class="col-md-8 column">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <input class="form-control offering-name-input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3"
                                   class="col-sm-2 control-label">价格</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input class="form-control offering-price-input">
                                    <span class="input-group-addon">元</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-10">
                                <input class="form-control offering-note-input"
                                       placeholder="客户可以看到你的备注">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">库存数量</label>
                            <div class="col-sm-10">
                                <input class="form-control offering-remaining-input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">起售日期</label>
                            <div class="col-sm-4">
                                <input class="form-control offering-start-time-input"
                                       th:value="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}"
                                       type="date">
                            </div>
                            <label class="col-sm-2 control-label">结束日期</label>
                            <div class="col-sm-4">
                                <input class="form-control offering-end-time-input"
                                       type="date">
                            </div>
                        </div>
                    </div>
                    <button class="offering-save-button btn red-block">保存</button>
                    <button class="offering-delete-button btn red-block">删除商品
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 column">
            <p>商品分类选择</p>
            <div>
                <div class="checkbox"
                     th:each="theType:${restaurant.getOfferingTypeByOrder()}">
                    <label><input type="checkbox" class="offering-type-checkbox"
                                  th:value="${theType.getOfferingTypeId()}"
                                  th:text="${theType.getName()}"></label>
                </div>
            </div>
        </div>
    </div>


</th:block>
<script th:src="@{/js/tool/jquery.js}"></script>
<script th:src="@{/js/tool/bootstrap.js}"></script>
<script th:src="@{/js/tool/bootbox.min.js}"></script>
<script th:src="@{/js/restaurant/manage.js}"></script>
</body>
</html>