<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="order" type="com.kodomo.yummy.entity.order.Order"*/-->
<head>
    <meta charset="UTF-8">
    <title>Yummy! 订单详情</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/general.css}" rel="stylesheet">
    <meta name="orderId" th:content="${order.getOrderId()}">
</head>
<body>
<!--/*@thymesVar id="restaurant" type="com.kodomo.yummy.entity.restaurant.Restaurant"*/-->
<th:block th:if="${restaurant eq null||order eq null}">
    出错了
</th:block>
<th:block th:if="${restaurant ne null&&order ne null}">
    <th:block th:replace="restaurant/head"/>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-2 column">
            </div>
            <div class="col-md-8 column">
                <th:block th:replace="order/order"/>
                <div>
                    <h3>操作:</h3>
                    <div>
                        <button class="btn red-block" id="confirm-button" th:if="${order.isOngoing()}">确认送达</button>
                    </div>
                    <span id="order-operation-info" style="color: red"></span>
                </div>
            </div>
            <div class="col-md-2 column">
            </div>
        </div>
    </div>

</th:block>
<script th:src="@{/js/tool/jquery.js}"></script>
<script th:src="@{/js/tool/bootstrap.js}"></script>
<script th:src="@{/js/tool/bootbox.min.js}"></script>
<script th:src="@{/js/restaurant/orderInfo.js}"></script>
</body>
</html>