<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yummy! 商家信息</title>
</head>
<body>
<a href="/restaurant/logout">登出</a>

<!--/*@thymesVar id="restaurant" type="com.kodomo.yummy.entity.Restaurant"*/-->
<!--/*@thymesVar id="UserState" type="com.kodomo.yummy.entity.entity_enum.UserState"*/-->
<p th:text="'账号:'+${session.restaurant.getRestaurantId()+',这是唯一的登录入口, 请牢记'}"></p>
<div th:if="${session.restaurant.getState()==T(com.kodomo.yummy.entity.UserState).UNACTIVATED}">
    店铺还未申请成功, 当前为未激活状态, 请等待激活...
</div>
<div th:unless="${session.restaurant.getState()==T(com.kodomo.yummy.entity.UserState).UNACTIVATED}">

</div>
</body>
</html>