<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yummy! 商家统计</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/general.css}" rel="stylesheet">
    <link th:href="@{/css/statistics.css}" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="restaurant" type="com.kodomo.yummy.entity.restaurant.Restaurant"*/-->
<th:block th:if="${restaurant}==null">
    出错了
</th:block>
<th:block th:if="${restaurant}!=null">
    <th:block th:replace="restaurant/head"/>

    <div class="container">
        <h1>用户信息统计</h1>
        <div class="row">
            <div class="col-xs-3" id="myScrollspy">
                <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="225">
                    <li class="active"><a href="#financial-detail-h">财务明细</a></li>
                    <li><a href="#order-quantity-h">订单数统计</a></li>
                    <li><a href="#amount-h">销售额</a></li>
                </ul>
            </div>
            <div class="col-xs-9">
                <h3 id="financial-detail-h">财务明细</h3>
                <table id="detail-table" class="table table-striped">
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>订单号</th>
                        <th>实收款</th>
                        <th>买家</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
                <h3 id="order-quantity-h">订单数统计</h3>
                <div id="day-order-quantity" style="height: 500px" class="statistics-div"></div>
                <div id="month-order-quantity" style="height: 500px" class="statistics-div"></div>
                <h3 id="amount-h">销售额统计</h3>
                <div id="day-order-amount" style="height: 500px" class="statistics-div"></div>
                <div id="month-order-amount" style="height: 500px" class="statistics-div"></div>
            </div>
        </div>
    </div>
</th:block>
<script th:src="@{/js/tool/jquery.js}"></script>
<script th:src="@{/js/tool/bootstrap.js}"></script>
<script th:src="@{/js/tool/echarts.js}"></script>
<script th:src="@{/js/restaurantStatistics.js}"></script>
</body>
</html>