<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yummy! 统计结果</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/general.css}" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="restaurant" type="com.kodomo.yummy.entity.restaurant.Restaurant"*/-->
<th:block th:if="${restaurant}==null">
    出错了
</th:block>
<th:block th:if="${restaurant}!=null">
    <th:block th:replace="restaurant/head"/>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h3>统计结果</h3>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#panel-799425"
                           href="#ongoing-orders-div">统计的订单</a>
                    </div>
                    <div id="ongoing-orders-div" class="panel-collapse in">
                        <div class="panel-body">
                            <div>
                                <div class="order-div-table">
                                    <div th:each="order:${orders}"
                                         class="order-div">
                                        <th:block th:replace="order/generalOrder"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
<script th:src="@{/js/tool/jquery.js}"></script>
<script th:src="@{/js/tool/bootstrap.js}"></script>
</body>
</html>