<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yummy! 统计结果</title>
    <style>
        .order-div {
            margin: 20px;
            padding: 10px;
            border: 2px solid black;
            width: 300px;
        }

        .order-div-table {
            display: flex;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>
<!--/*@thymesVar id="restaurant" type="com.kodomo.yummy.entity.Restaurant"*/-->
<th:block th:if="${restaurant}==null">
    出错了
</th:block>
<th:block th:if="${restaurant}!=null">
    <th:block th:replace="restaurant/head"/>

    <h3>统计结果</h3>
    <!--/*@thymesVar id="orders" type="java.util.List"*/-->
    <div style="display: flex"></div>
    <div class="order-div-table">
        <div th:each="order:${orders}" class="order-div">
            <div th:replace="order/generalOrder"></div>
        </div>
    </div>
</th:block>
</body>
</html>