<div class="text-center">
    <h5 class="page-header"></h5>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h4>Yummy! 订餐平台
                    <small>
                        <em>Yummy! 订餐平台</em> 是一个订餐平台, 就是一个订餐平台
                    </small>
                </h4>
                <ul class="breadcrumb">
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a href="/restaurant/register">我要开店</a>
                    </li>
                    <li>
                        <a href="/restaurant">管理店铺</a>
                    </li>
                    <li>
                        <a href="/customer/info">个人中心</a>
                    </li>
                    <li>
                        <a href="/customer/place">我要点餐</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>