<!--/*@thymesVar id="customer" type="com.kodomo.yummy.entity.customer.Customer"*/-->
<div xmlns:th="http://www.thymeleaf.org" th:if="${customer}!=null">
    <div><span>你好:</span>
        <!--/*@thymesVar id="customer" type="com.kodomo.yummy.entity.customer.Customer"*/-->
        <span th:text="${customer.getName()}"></span>
        <span>余额:</span>
        <span th:text="${customer.getBalance()}"></span>
        <span>等级:</span>
        <span th:text="${customer.getLevel()}"></span>
        <a th:href="@{/customer/logout}">登出</a>
        <a th:href="@{/customer/place}">点餐</a>
        <a th:href="@{/customer/info}">个人信息</a>
        <a th:href="@{/customer/order}">我的订单</a>
        <a th:href="@{/customer/statistics}">统计</a>
        <a th:href="@{/customer/recharge}">充值</a>
        <th:block th:if="${customer.getState()}==UserState.UNACTIVATED">
            还未激活, 请先激活才能进行其他操作
        </th:block>
    </div>

    <!--黑线-->
    <div style="height: 2px;width: 100%;background: black"></div>
</div>