<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yummy! 个人信息</title>
    <script th:src="@{/js/tool/jquery.js}"></script>
</head>
<body>
<!--/*@thymesVar id="customer" type="com.kodomo.yummy.entity.Customer"*/-->
<th:block th:if="${customer}==null">
    出错了
</th:block>
<th:block th:if="${customer}!=null">
    <div th:replace="customer/head"></div>

    <!--黑线-->
    <div style="height: 2px;width: 100%;background: black"></div>

    <div>
        <!--/*@thymesVar id="isSelf" type="java.lang.Boolean"*/-->
        <h3>确认/修改信息</h3>
        <table>
            <tr>
                <td>邮箱</td>
                <td th:text="${customer.getEmail()}"></td>
            </tr>
            <tr>
                <td>昵称</td>
                <td>
                    <label><input th:value="${customer.getName()}"
                                  th:disabled="${customer.getState()}==UserState.ACTIVATED"
                                  id="info-name-input"></label>
                </td>
            </tr>
            <tr>
                <td>余额</td>
                <td th:text="${customer.getBalance()}+'元'"></td>
            </tr>
            <tr>
                <td>电话</td>
                <td>
                    <label><input th:value="${customer.getTelephone()}"
                                  th:disabled="${customer.getState()}==UserState.ACTIVATED"
                                  id="info-telephone-input"></label>
                </td>
            </tr>
            <tr>
                <td>状态</td>
                <td th:text="${customer.getState().getText()}"></td>
            </tr>
        </table>
        <button id="info-update-button" th:disabled="${customer.getState()}==UserState.ACTIVATED">提交</button>
        <span id="info-update-info" style="color: red"></span>
    </div>

    <!--黑线-->
    <div style="height: 2px;width: 100%;background: black"></div>

    <div>
        <h3>密码修改</h3>
        <table>
            <tr>
                <td>当前密码</td>
                <td><label for="old-password-input"></label><input type="password" id="old-password-input"
                                                                   th:disabled="${customer.getState()}==UserState.ACTIVATED">
                </td>
            </tr>
            <tr>
                <td>新密码</td>
                <td><label for="new-password-input"></label><input type="password" id="new-password-input"
                                                                   th:disabled="${customer.getState()}==UserState.ACTIVATED">
                </td>
            </tr>
            <tr>
                <td>重复输入新密码</td>
                <td><label for="new-password-input2"></label><input type="password" id="new-password-input2"
                                                                    th:disabled="${customer.getState()}==UserState.ACTIVATED">
                </td>
            </tr>
        </table>
        <button id="password-update-button" th:disabled="${customer.getState()}==UserState.ACTIVATED">提交</button>
        <span id="password-update-info" style="color: red"></span>
    </div>

    <!--黑线-->
    <div style="height: 2px;width: 100%;background: black"></div>

    <div th:if="${customer.getValidLocation().size()}!=0">
        <h3>删除地址</h3>
        <table border="1 black" cellpadding="5">
            <tr>
                <td>城市</td>
                <td>地址信息</td>
                <td>地址备注</td>
                <td>取餐电话</td>
                <td>操作</td>
            </tr>
            <tr th:each="location:${customer.getValidLocation()}">
                <td th:text="${location.getCity()}"></td>
                <td th:text="${location.getBlockInfo()}+' '+${location.getPointInfo()}"></td>
                <td th:text="${location.getNote()}"></td>
                <td th:text="${location.getTelephone()}"></td>
                <td>
                    <button th:value="${location.getLocationId()}"
                            th:disabled="${customer.getState()}==UserState.ACTIVATED"
                            class="delete-location-button">删除
                    </button>
                </td>
            </tr>
        </table>
        <span id="delete-location-info" style="color: red"></span>
        <p></p>
        <!--黑线-->
        <div style="height: 2px;width: 100%;background: black"></div>
    </div>

    <div>
        <h3>新建地址</h3>
        <table>
            <tr>
                <td>地址备注</td>
                <td><label><input id="create-location-note"
                                  th:disabled="${customer.getState()}==UserState.ACTIVATED"></label>
                </td>
            </tr>
            <tr>
                <td>取餐电话</td>
                <td><label><input id="create-location-telephone" th:value="${customer.getTelephone()}"
                                  th:disabled="${customer.getState()}==UserState.ACTIVATED">*</label></td>
            </tr>
        </table>
        <!--/*@thymesVar id="lbsKey" type="String"*/-->
        <iframe id="mapPage" width="500px" height="500px" frameborder=0
                th:src="'https://apis.map.qq.com/tools/locpicker?search=1&type=1&key='+${lbsKey}+'&referer=myapp'">
        </iframe>
        <div>
            <button id="create-location-button" th:disabled="${customer.getState()}==UserState.ACTIVATED">提交</button>
            <span id="create-location-info" style="color: red"></span>
        </div>
    </div>

    <!--黑线-->
    <div style="height: 2px;width: 100%;background: black"></div>

    <div>
        <h3>用户注销</h3>
        <div style="color: red">注: 账号注销后不可恢复, 不能再进行任何处理, 余额无法退还, 请谨慎处理</div>
        <div>
            请输入密码:<label>
            <input type="password" id="cancellation-password-input">
        </label>
        </div>
        <button id="cancellation-button" th:disabled="${customer.getState()}==UserState.ACTIVATED">确定注销</button>
        <span id="cancellation-info" style="color: red"></span>
    </div>
</th:block>
<script th:src="@{/js/customerInfo.js}"></script>
</body>
</html>