<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yummy! 我的订单</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/general.css}" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="customer" type="com.kodomo.yummy.entity.customer.Customer"*/-->
<th:block th:if="${customer}==null">
    出错了
</th:block>
<th:block th:if="${customer}!=null">
    <div th:replace="customer/head"></div>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h1>我的订单</h1>
                <br>
                <div class="panel-group" id="panel-799425">
                    <th:block th:if="${customer.getOngoingOrders().size()}!=0">
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#panel-799425"
                                 href="#ongoing-orders-div">
                                <span  class="panel-title collapsed">进行中的订单</span>
                                <span class="pull-right" style="color: dodgerblue;">点击展开</span>
                            </div>
                            <div id="ongoing-orders-div" class="panel-collapse in">
                                <div class="panel-body">
                                    <div>
                                        <div class="order-div-table">
                                            <div th:each="order:${customer.getOngoingOrders()}"
                                                 class="order-div">
                                                <th:block th:replace="order/generalOrder"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:if="${customer.getUnpaidOrders().size()}!=0">
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#panel-799425"
                                 href="#unpaid-orders-div">
                                <span class="panel-title collapsed">待支付的订单</span>
                                                  <span class="pull-right" style="color: dodgerblue;">点击展开</span>
                            </div>
                            <div id="unpaid-orders-div" class="panel-collapse collapse">
                                <div class="panel-body">

                                    <div>
                                        <div class="order-div-table">
                                            <div th:each="order:${customer.getUnpaidOrders()}"
                                                 class="order-div">
                                                <th:block th:replace="order/generalOrder"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:if="${customer.getIdleOrders().size()}!=0">
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#panel-799425"
                                 href="#idle-orders-div">
                                <span class="panel-title collapsed">过去的订单</span>
                                                  <span class="pull-right" style="color: dodgerblue;">点击展开</span>
                            </div>
                            <div id="idle-orders-div" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div>
                                        <div class="order-div-table">
                                            <div th:each="order:${customer.getIdleOrders()}"
                                                 class="order-div">
                                                <th:block th:replace="order/generalOrder"/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="tail"/>
</th:block>
<script th:src="@{/js/tool/jquery.js}"></script>
<script th:src="@{/js/tool/bootstrap.js}"></script>
</body>
</html>