<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="order" type="com.kodomo.yummy.entity.order.Order"*/-->
<head>
    <meta charset="UTF-8">
    <title>Yummy! 订单详情</title>
    <script th:src="@{/js/tool/jquery.js}"></script>
    <meta name="orderId" th:content="${order.getOrderId()}">
</head>
<body>
<!--/*@thymesVar id="customer" type="com.kodomo.yummy.entity.customer.Customer"*/-->
<th:block th:if="${customer eq null||order eq null}">
    出错了
</th:block>
<th:block th:if="${customer ne null&&order ne null}">
    <th:block th:replace="customer/head"/>

    <!--黑线-->
    <div style="height: 2px;width: 100%;background: black"></div>
    <th:block th:replace="order/order"/>
    <!--黑线-->
    <div style="height: 2px;width: 100%;background: black"></div>

    <div>
        <h3>操作:</h3>
        <div>
            <div th:if="${order.isUnpaid()}">
                <label>请输入密码<input id="pay-password-input" type="password"></label>
            </div>
            <button id="pay-button"
                    th:if="${order.isUnpaid()}">付款
            </button>
            <button id="confirm-button" th:if="${order.isOngoing()}">确认收货</button>
            <button id="cancel-button"
                    th:if="${order.isUnpaid()||order.isOngoing()}">取消订单
            </button>
        </div>
        <span id="order-operation-info" style="color: red"></span>
    </div>
</th:block>
<script th:src="@{/js/customerOrderInfo.js}"></script>
</body>
</html>