<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yummy! 我的订单</title>
    <style>
        .order-div {
            margin: 20px;
            padding: 10px;
            border: 2px solid black;
            width: 300px;
        }

        .order-div-table {
            display: flex;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>
<!--/*@thymesVar id="customer" type="com.kodomo.yummy.entity.Customer"*/-->
<th:block th:if="${customer}==null">
    出错了
</th:block>
<th:block th:if="${customer}!=null">
    <div th:replace="customer/head"></div>
    <!--黑线-->
    <div style="height: 2px;width: 100%;background: black"></div>
    <th:block th:if="${customer.getOngoingOrders().size()}!=0">
        <div>
            <h3>进行中的订单:</h3>
            <div class="order-div-table">
                <div th:each="order:${customer.getOngoingOrders()}"
                     class="order-div">
                    <div th:text="${order.getOrderStateText()}"></div>
                    <h4 th:text="${order.getRestaurant().getName()}"></h4>
                    <p th:text="${order.getTotalPriceAfterDiscount()}+'元'" style="float: right"></p>
                    <ul th:with="first=${order.getDetailsByPrice().get(0)}">
                        <li th:each="detail:${order.getDetailsByPrice()}"
                            th:text="${detail.getOffering().getName()}+'×'+${detail.getQuantity()}"></li>
                    </ul>
                    <a th:href="@{/customer/order/}+${order.getOrderId()}">查看详情</a>
                </div>
            </div>
        </div>
        <!--黑线-->
        <div style="height: 2px;width: 100%;background: black"></div>
    </th:block>

    <th:block th:if="${customer.getUnpaidOrders().size()}!=0">
        <div>
            <h3>待支付的订单:</h3>
            <div class="order-div-table">
                <div th:each="order:${customer.getUnpaidOrders()}"
                     class="order-div">
                    <div th:text="${order.getOrderStateText()}"></div>
                    <h4 th:text="${order.getRestaurant().getName()}"></h4>
                    <p th:text="${order.getTotalPriceAfterDiscount()}+'元'" style="float: right"></p>
                    <ul th:with="first=${order.getDetailsByPrice().get(0)}">
                        <li th:each="detail:${order.getDetailsByPrice()}"
                            th:text="${detail.getOffering().getName()}+'×'+${detail.getQuantity()}"></li>
                    </ul>
                    <a th:href="@{/customer/order/}+${order.getOrderId()}">查看详情</a>
                </div>
            </div>
        </div>
        <!--黑线-->
        <div style="height: 2px;width: 100%;background: black"></div>
    </th:block>

    <th:block th:if="${customer.getIdleOrders().size()}!=0">
        <div>
            <h3>过去的订单:</h3>
            <div class="order-div-table">
                <div th:each="order:${customer.getIdleOrders()}"
                     class="order-div">
                    <div th:text="${order.getOrderStateText()}"></div>
                    <h4 th:text="${order.getRestaurant().getName()}"></h4>
                    <p th:text="${order.getTotalPriceAfterDiscount()}+'元'" style="float: right"></p>
                    <ul th:with="first=${order.getDetailsByPrice().get(0)}">
                        <li th:each="detail:${order.getDetailsByPrice()}"
                            th:text="${detail.getOffering().getName()}+'×'+${detail.getQuantity()}"></li>
                    </ul>
                    <a th:href="@{/customer/order/}+${order.getOrderId()}">查看详情</a>
                </div>
            </div>
        </div>
        <!--黑线-->
        <div style="height: 2px;width: 100%;background: black"></div>
    </th:block>
</th:block>
</body>
</html>