<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yummy! 选择餐厅</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/general.css}" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="customer" type="com.kodomo.yummy.entity.customer.Customer"*/-->
<th:block th:if="${customer}==null">
    出错了
</th:block>
<th:block th:if="${customer}!=null">
    <div th:replace="customer/head"></div>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h3>选择地址</h3>
                <th:block th:if="${customer.getLocations().size()}==0">
                    <p style="color: red">您当前没有填写地址信息, 请进入个人信息填写</p>
                </th:block>
                <ul class="list-unstyled">
                    <li th:each="location:${customer.getLocations()}">
                        <div class="radio">
                            <label>
                                <!--/*@thymesVar id="locationId" type="java.lang.Integer"*/-->
                                <input type="radio" name="location" th:value="${location.getLocationId()}"
                                       class="location-select-radio"
                                       th:checked="${location.getLocationId().equals(locationId)}">
                                <th:block th:text="${location.getInfo()}"/>
                            </label>
                        </div>
                    </li>
                </ul>
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请先选择地址, 再输入搜索内容" id="search-input"
                               th:value="${keyWord}==null?'':${keyWord}">
                        <span class="input-group-addon btn red-block" id="search-button">搜索</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h3>选择餐厅</h3>
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div class="col-md-11 column red-border well"
                                 th:each="restaurant:${resultRestaurants}">
                                <div class="row clearfix">
                                    <div class="col-md-10 column">
                                        <h2 th:text="${restaurant.getName()}"></h2>
                                        <p th:text="${restaurant.getLocationInfo()}+' 距您'+${restaurant.getLocation().distanceBetweenByMeter(customer.getLocationById(locationId))}+'米'"></p>
                                        <p th:text="'类型:'+${restaurant.getTypeByString()}"></p>
                                        <p th:text="${restaurant.isMatched(keyWord)}" class="restaurant-search-tip"></p>
                                    </div>
                                    <div class="col-md-2 column">
                                        <a class="btn red-block pull-right"
                                           th:href="@{/customer/ordering/}+${restaurant.getRestaurantId()}+'?location_id='+${locationId}"
                                        >
                                            前往点餐
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<script th:src="@{/js/tool/jquery.js}"></script>
<script th:src="@{/js/tool/bootstrap.js}"></script>
<script th:src="@{/js/tool/bootbox.min.js}"></script>
<script th:src="@{/js/customer/place.js}"></script>
</body>
</html>