<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yummy! 我的统计</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/general.css}" rel="stylesheet">
    <link th:href="@{/css/statistics.css}" rel="stylesheet">
</head>
<body data-spy="scroll" data-target="#myScrollspy">
<!--/*@thymesVar id="customer" type="com.kodomo.yummy.entity.customer.Customer"*/-->
<th:block th:if="${customer}==null">
    出错了
</th:block>
<th:block th:if="${customer}!=null">
    <div th:replace="customer/head"></div>
    <div class="container">
        <h1>用户信息统计</h1>
        <div class="row">
            <div class="col-xs-3" id="myScrollspy">
                <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="150">
                    <li class="active"><a href="#order-quantity-statistics">订单数统计</a></li>
                    <li><a href="#diagram-money-month">金额统计</a></li>
                    <li><a href="#diagram-restaurant">消费餐厅统计</a></li>
                </ul>
            </div>
            <div class="col-xs-9">
                <h3 id="order-quantity-statistics">订单数统计</h3>
                <div style="height: 500px" class="statistics-div" id="diagram-time"></div>
                <div style="height: 500px" class="statistics-div" id="diagram-month-time"></div>
                <br>
                <h3 id="amount-statistics">金额统计</h3>
                <div style="height: 500px" class="statistics-div" id="diagram-money-month"></div>
                <br>
                <h3 id="restaurant-statistics">消费餐厅统计</h3>
                <div style="height: 400px" class="statistics-div" id="diagram-restaurant"></div>
            </div>
        </div>
    </div>
</th:block>
<script th:src="@{/js/tool/jquery.js}"></script>
<script th:src="@{/js/tool/echarts.js}"></script>
<script th:src="@{/js/tool/bootstrap.js}"></script>
<script th:src="@{/js/customer/statistics.js}"></script>
</body>
</html>